@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Silkscreen&display=swap');
/* 
body{
    background-color: rgb(223, 160, 89);
} */

#titulo{
font-family: 'Silkscreen', cursive;
color: rgb(49, 154, 195);
}

#games{
    background-image: url(/assets/images/mario.jpeg);
    border-radius: 7px;
} 
body{
    background-color: rgb(238, 238, 214);
    
}
#cont{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(100, 100, 198);
}


.derechos{
    
    color: rgb(19, 19, 18);
    position: absolute;
    bottom: 0%;
}
