@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Silkscreen&display=swap');
/* 
body{
    background-color: rgb(223, 160, 89);
} */

#titulo{
font-family: 'Silkscreen', cursive;
}

#games{
    background-image: url(/assets/images/mario.jpeg);
    width: 100%;
}
body{
    background-color: rgb(214, 177, 127);
}